# Ignore virtual environments
venv/
environement_virtuel/
env/

# Ignore compiled files
__pycache__/
*.pyc
*.pyo

# Ignore editor-specific files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore the data directory
data/

animation.mp4
animation2.mp4
animation3.mp4
animation4.mp4
animation5.mp4

cost_map_2.py
cost_map_3.py
